@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-family: 'Poppins', sans-serif;

}

.App {
  text-align: center;
  display: flex;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  z-index: 2; /* Higher z-index to overlay the navbar */

}

.logo {
  width: 250px;
  margin-bottom: 1rem;
}

.user-info {
  margin-top: 1rem;
  text-align: center;
}

.main-content {
  margin-left: 200px; /* Adjust this value based on your sidebar width */
  padding: 2rem; /* Ensure even padding around the content */
  flex-grow: 1; /* Ensure the main content takes up the remaining space */
  padding-top: 0;
}



.nav button {
  background: none;
  border: none;
  color: #104378;
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 0 1rem;
  cursor: pointer;
  background-color: white;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;

}

.nav button.active {
  background-color: #2196f3; /* Progress bar color */
  color: white;
}

.content {
  padding: 2rem;
  margin-left: 100px;
  padding-top: 2rem; /* Adjust the padding as needed */

}

.article-group {
  background-color: white;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-group h2 {
  margin-top: 0;
}

.article {
  margin-bottom: 1rem;
}

.article h3 {
  margin: 0.5rem 0;
}

.article p {
  margin: 0.5rem 0;
}

.article a.article-link {
  color: white;
  text-decoration: none;
  background-color: #2196f3;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;

} 

.article button {
  color: white;
  text-decoration: none;
  background-color: #33b249;
  padding: 0.67rem 1rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  
}

.article a.article-link.unsave-button, .article button.unsave-button {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 0.67rem 1rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
}

button[disabled] {
  background-color: grey;
  cursor: not-allowed;
}

.login-button {
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
  outline: none; /* Remove default outline */
  box-shadow: none; /* Remove default shadow */
}

button:hover {
  opacity: 0.8; /* Add a hover effect */
}

.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-screen h1 {
  margin-bottom: 2rem;
}

.login-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
  outline: none; /* Remove default outline */
  box-shadow: none; /* Remove default shadow */
}

button:hover {
  opacity: 0.8; /* Add a hover effect */
}

.logout-button {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  outline: none; /* Remove default outline */
  box-shadow: none; /* Remove default shadow */
}

.logout-button:hover {
  opacity: 0.8; /* Add a hover effect */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content {
  position: relative;
}

.content.loading {
  opacity: 0.5;
}

.summary-section {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.summary-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.article-group {
  margin-bottom: 50px;
}

.article {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  position: relative;
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-header-right {
  display: flex;
  align-items: center;
}

.flag-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.category-badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

/* Specific styles for each category */
.category-container.category-us-company-site {
  background-color: #007bff;
}

.category-container.category-us-industry-news {
  background-color: #28a745;
}

.category-container.category-jp-company-site {
  background-color: #ff0000;
}

.category-container.category-eu-company-site {
  background-color: #ff9900;
}

.category-container.category-eu-industry-news {
  background-color: purple;
}


.summary-textarea {
  width: 98%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resize, but not horizontal */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif; /* Use a clean and readable font */
  background-color: #f9f9f9; /* Light background color for readability */
}

.summary-textarea:focus {
  border-color: #007bff; /* Border color on focus */
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Slight shadow on focus */
}

.summary-section h2 {
  margin-bottom: 10px;
}

.summary-section {
  margin-top: 20px;
}

.summarize-button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
  color: white;
  text-decoration: none;
  background-color: lightgrey;
  padding: 0.67rem 1rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;


}

.summarize-button {
  background-color: #ccc;
  cursor: pointer;
  color: white;
  text-decoration: none;
  background-color: #2196f3;
  padding: 0.67rem 1rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;


}

.nav {
  display: flex;
  justify-content: center;
  background-color: #104378;
  padding: 1rem 0;
  width: 100%; /* Full width minus sidebar width */
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0; 
  box-sizing: border-box; 
  margin-left: 68px; /* Adjust to start after the sidebar */
}

/* Scroll progress bar styling */
.scroll-progress-container {
  position: absolute; /* Position within the nav */
  top: 100%; /* Right at the bottom of the nav */
  left: 0;
  width: 100%; /* Take the full width of the nav */
  height: 4px;
  background-color: #104378;
  z-index: 2;
}

.scroll-progress-bar {
  width: 0;
  height: 100%;
  background-color: #2196f3; /* Progress bar color */
  transition: width 0.1s ease;
}

/* Article Card Styles */
.blog_post {
  background: #fff;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  margin-bottom: 3rem; /* Add some margin for spacing between articles */
}

.container_copy {
  padding: 5rem 4rem 3rem 4rem;
}


/* New styles for category name with icon */
.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px; /* Adjust as needed */
  height: 60px; /* Adjust as needed */
  border-radius: 7px;
  position: absolute;
  background-color: #104378;
  left: -2%;
  top: -5%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.category-container .category-icon {
  margin-right: 8px; /* Space between icon and text */
  font-size: 1.5rem; /* Adjust icon size */
  width: 50px;
}

.category-container .category-name {
  font-size: 1.2rem; /* Adjust text size */
}


/* Title and Date Styling */
h3 {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.25rem;
  text-align: left;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  color: #333;
  text-align: left;
}

h2 {
  margin: 0 0 2rem 0;
  font-size: 2.2rem;
  letter-spacing: 0.5px;
  color: #333;
  text-align: center;
}

/* Article Description */
p {
  margin: 0 0 1.5rem 0;
  font-size: 1.1rem;
  line-height: 1.45;
  color: #333;
  text-align: left;
}

/* Button Styling */
.btn_primary {
  color: white;
  text-decoration: none;
  background-color: #33b249;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;

}

.btn_primary:hover {
  box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
}


.article a.article-link.unsave-button, .article button.unsave-button {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 0.67rem 1rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;

}

.unsave-button { 
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;

}

.save-button {

  background-color: #2196f3;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;

}